<% include templates/header.ejs %>
<% include templates/nav-common.ejs %>

<div class="container-fluid mx-auto text-center bg-secondary py-5" style="background-image:url(img/image.jpg);background-repeat: no-repeat;
    background-size: cover;min-height:900px;">
    <h1 class="display-4 py-5">
        Roulez Malin!<br>
        Utilisez TravelExpress !
    </h1>
    <div class="bg-light border rounded col-sm-12 col-md-6 pt-3 mx-auto">

        <div>
            <!-- Formulaire de recherche de covoiturage -->
            <form action="#" onsubmit="searchTravel(); return false;">
                <div class="row">

                    <!-- Départ et arrivée -->
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                        <input type="text" id="departure" class="form-control" autocomplete="off" placeholder="Lieu de départ">
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                        <input type="text" id="arrival" class="form-control" autocomplete="off" placeholder="Lieu d'arrivée">
                    </div>
                    <!-- Fin départ et arrivée -->

                    <!-- Indication de la date -->
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-3" id="sandbox-container">
                        <div class="input-group date datepicker p-0">
                            <input type="text" class="form-control ">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-th"></i></span>
                            </div>
                        </div>
                    </div>
                    <!-- Fin indication de la date -->

                    <!-- Rechercher -->
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                        <button id="submit-search" type="submit" class="btn btn-primary col-12 disabled">Rechercher</button>
                    </div>
                    <!-- Fin rechercher -->
                </div>
            </form>
            <!-- Fin du formulaire -->
        </div>
    </div>
</div>


<script src="https://phppot.com/demo/bootstrap-autocomplete-with-dynamic-data-load-using-php-ajax/typeahead.js"></script>
<script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
<script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.fr.min.js" charset="UTF-8"></script>
<script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.fr-CH.min.js" charset="UTF-8"></script>

<script>
    // Script date picker
    $('.input-group.date').datepicker({
        language: "fr",
        autoclose: true
    });
    $(".input-group.date").datepicker("setDate", new Date());
</script>

<script>
    // Script recherche dynamique
    function cityQuery(query, result) {
        $.ajax({
            url: "/search/city?q=" + encodeURI(query),
            type: "GET",
            success: function (data) {
                result($.map(data.data, function (item) {
                    return item.nameWithPostalCode;
                }));
            }
        });
    }

    var selectedDeparture = false;
    var selectedArrival = false;

    function searchTravel() {
        if (selectedArrival && selectedDeparture) {
            window.location.href = "/search/" + encodeURI($('#departure').val()) + '/' + encodeURI($('#arrival').val()) + '/' + encodeURI($('.input-group.date input').val());
        } else {
            alert('Veuillez sélectionner une ville de départ et d\'arrivée');
        }
    }

    function updateSubmit() {
        if (selectedDeparture && selectedArrival)
            $('#submit-search').removeClass('disabled');
    }

    $(document).ready(function () {
        $('#departure').typeahead({
            source: cityQuery,
            items: 15,
            afterSelect: function (item) {
                // do what is needed with item
                //and then, for example ,focus on some other control
                selectedDeparture = true;
                updateSubmit();
            },
            matcher: function () { return true; },
        });

        $('#arrival').typeahead({
            source: cityQuery,
            items: 15,
            afterSelect: function (item) {
                // do what is needed with item
                //and then, for example ,focus on some other control
                selectedArrival = true;
                updateSubmit();
            },
            matcher: function () { return true; }
        });
    });
</script>

<% include templates/footer.ejs %>