<% include templates/header.ejs %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">TravelExpress</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>

<div class="container-fluid mx-auto text-center bg-secondary py-5" style="background-image:url(/img/image.jpg);background-repeat: no-repeat;
    background-size: cover;min-height:900px;">
    <div class="row justify-content-center">
        <div class="bg-light border rounded col-lg-3 col-md-6 col-sm-12 p-3 m-2">
            <h1 class="display-4 mb-3">Connexion</h1>

            <!-- Formulaire connexion -->
            <form action="/user/login" method="post">

                <!-- Erreurs connexion -->
                <% if (typeof loginErrors !== 'undefined' && typeof authError !== 'undefined') { %>
                <div class="alert alert-danger" role="alert">
                    <% if (loginErrors.length === 0) { %>
                    <strong>identifiant ou mot de passe incorrect</strong>
                    <% } else { %>
                    <strong>Une ou plusieurs erreurs se sont produites:</strong>
                    <ul style="list-style: none;">
                        <% loginErrors.forEach(function(error){ %>
                        <li><%= error.msg %></li>
                        <% }); %>
                    </ul>
                    <% } %>
                </div>
                <% } %>
                <!-- Fin erreurs connexion -->

                <div class="row justify-content-center">
                    <div class="col-10 ">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default" style="width:120px">Courriel</span>
                            </div>
                            <input type="mail" name="mail" value="<%= typeof req === 'undefined' ? '': req.body.mail %>" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default" style="width:120px">Mot de passe</span>
                            </div>
                            <input type="password" name="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <button type="submit" class="btn btn-primary">Connexion</button>
                    </div>
                </div>
            </form>
            <!-- Fin formulaire connexion -->

            <!-- Divider -->
            <div class="dropdown-divider my-3"></div>
            <!-- Fin Divider-->

            <h1 class="display-4 mb-3">Inscription</h1>
            <!-- Formulaire inscription -->
            <form action="/user/signup" method="post">

                <!-- Erreurs inscription -->
                <% if (typeof signupErrors !== 'undefined') { %>
                <div class="alert alert-danger" role="alert">
                    <strong>Une ou plusieurs erreurs se sont produites:</strong>
                    <ul style="list-style: none;">
                        <% signupErrors.forEach(function(error){ %>
                        <li><%= error.msg %></li>
                        <% }); %>
                    </ul>
                </div>
                <% } %>
                <!-- Fin erreurs inscription -->

                <div class="row  justify-content-center">
                    <div class="col-10 ">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default" style="width:120px">Prénom</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default" value="<%= typeof reqSignup === 'undefined' ? '': reqSignup.body.firstName %>" name="firstName" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default" style="width:120px">Nom</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default" value="<%= typeof reqSignup === 'undefined' ? '': reqSignup.body.lastName %>" name="lastName"  aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default" style="width:120px">Courriel</span>
                            </div>
                            <input type="mail" class="form-control" aria-label="Default" value="<%= typeof reqSignup === 'undefined' ? '': reqSignup.body.mail %>" name="mail" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default" style="width:120px">Telephone</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Default" value="<%= typeof reqSignup === 'undefined' ? '': reqSignup.body.phone %>" name="phone"  aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default" style="width:120px">Mot de passe</span>
                            </div>
                            <input type="password" class="form-control" aria-label="Default" name="password" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default" style="width:120px">Mot de passe*</span>
                            </div>
                            <input type="password" class="form-control" aria-label="Default" name="passwordConfirm" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <button type="submit" class="btn btn-primary">Inscription</button>
                    </div>
                </div>
            </form>
            <!-- Fin formulaire inscription -->
        </div>
    </div>


</div>