<% include templates/header.ejs %>
<% include templates/nav-common.ejs %>

<div class="container-fluid mx-auto text-center bg-secondary pt-5"
    style="background-image:url(/img/image.jpg);background-repeat: no-repeat;background-size: cover;min-height:900px;">

    <div>
        <h2>Changer mot de passe</h2>
    </div>


    <div class="row justify-content-center">

        <% include templates/profile-nav.ejs %>

        <div class="bg-light border rounded col-lg-6 col-md-8 col-sm-12 p-3 m-2">
            <form action="" method="post">
                <!-- Erreurs update password -->
                <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <strong>Une ou plusieurs erreurs se sont produites:</strong>
                    <ul style="list-style: none;">
                        <% errors.forEach(function(error){ %>
                        <li><%= error.msg %></li>
                        <% }); %>
                    </ul>
                </div>
                <% } %>
                <!-- Fin erreurs update password -->

                <!-- Succès modification password -->
                <% if (typeof success !== 'undefined' && success === true) { %>
                <div class="alert alert-success" role="alert">
                    Votre mot de passe a bien été mis à jour
                </div>
                <% } %>

                <!-- Fin succès modification password -->

                <div class="form-group row mt-3">
                    <label for="oldPassword" class="col-sm-3 col-form-label">Mot de passe actuel</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" name="oldPassword" id="oldPassword" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-3 col-form-label">Nouveau mot de passe</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" name="password" id="password" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="passwordConfirm" class="col-sm-3 col-form-label">Nouveau mot de passe*</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm" value="">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Modifier</button>
            </form>
        </div>
    </div>


</div>

<% include templates/footer.ejs %>