<% include templates/header.ejs %>
<% include templates/nav-common.ejs %>

<div class="container-fluid mx-auto text-center bg-secondary pt-5"
    style="background-image:url(/img/image.jpg);background-repeat: no-repeat;background-size: cover;min-height:900px;">

    <div>
        <h2>Mon profil</h2>
    </div>


    <div class="row justify-content-center">

        <% include templates/profile-nav.ejs %>
        <div class="bg-light border rounded col-lg-6 col-md-8 col-sm-12 p-3 m-2">
            <form action="" method="post" >
                <!-- Erreurs update profile -->
                <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <strong>Une ou plusieurs erreurs se sont produites:</strong>
                    <ul style="list-style: none;">
                        <% errors.forEach(function(error){ %>
                        <li><%= error.msg %></li>
                        <% }); %>
                    </ul>
                </div>
                <% } %>
                <!-- Fin erreurs update profile -->

                <!-- Succès modification profil -->
                <% if (typeof success !== 'undefined' && success === true) { %>
                <div class="alert alert-success" role="alert">
                    Votre profil a bien été mis à jour
                </div>
                <% } %>

                <!-- Fin succès modification profil -->

                <div class="form-group row">
                    <label for="firstName" class="col-sm-2 col-form-label">Prenom</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="firstName" id="firstName" value="<%= user.firstName %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lastName" class="col-sm-2 col-form-label">Nom</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="lastName" id="lastName" value="<%= user.lastName %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mail" class="col-sm-2 col-form-label">Courriel</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="mail" id="mail" value="<%= user.mail %>">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phone" class="col-sm-2 col-form-label">Telephone</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="phone" id="phone" value="<%= user.phoneNumber%>">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="credit" class="col-sm-2 col-form-label">Credit</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="credit"
                            value="<%= user.credit %>€">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Modifier</button>
            </form>

            <form action="profile/upload" method="post"  enctype="multipart/form-data">
                <div class="form-group row">
                    <label for="credit" class="col-sm-2 col-form-label">File</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control-plaintext" accept=".png, .jpg, .jpeg" name="picture" id="picture">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Modifier</button>
            </form>
        </div>
    </div>


</div>

<% include templates/footer.ejs %>