<% include templates/header.ejs %>
<% include templates/nav-common.ejs %>

<div class="container-fluid mx-auto text-center bg-secondary pt-5" style="background-image:url(/img/image.jpg);background-repeat: no-repeat;
    background-size: cover;min-height:900px;">

    <div>
        <h1 class="display-4 mb-3">Trajets</h1>
    </div>


    <div class="row justify-content-md-center">


        <div class="bg-light border rounded col-sm-12 col-md-6 pt-3 m-2">

            <div>
                <form action="#" onsubmit="searchTravel(); return false;">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                            <input type="text" id="departure" class="form-control" autocomplete="off"
                                placeholder="Lieu de départ" value="<%= req.params.from %>">
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                            <input type="text" id="arrival" class="form-control" autocomplete="off"
                                placeholder="Lieu d'arrivée" value="<%= req.params.to %>">
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 mb-3" id="sandbox-container">

                            <div class="input-group date datepicker p-0">
                                <input type="text" class="form-control " value="<%= req.params.date %>">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-th"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                            <button id="submit-search" type="submit" class="btn btn-primary col-12">Rechercher</button>
                        </div>
                    </div>
                </form>
            </div>


        </div>
        <div class="bg-light border rounded col-sm-12 col-md-6 pt-3 m-2">
            <% for (let [key, value] of Object.entries(travels)) { %>
            <div>
                <p class="font-weight-light"><%= key %></p>
            </div>

            <% value.forEach(function(travel) {
                var departureTime = travel.departureTime.toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1");
                var placesLeft = travel.places;
                travel.passengers.forEach(function(passenger) {
                    placesLeft -= passenger.places;
                });
            %>
            <a class="text-decoration-none" href="/travel/<%= travel._id %>">
                <div class="card w-100 mb-3">
                    <div class="card-body row border-between">
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <p class="card-text "><%= departureTime.substring(0,5) %>
                            </p>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <p class="card-text "><%= travel.departure.name %>
                            </p>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6">
                            <p class="card-text "><%= travel.arrival.name %>
                            </p>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 " style="font-size: 1rem;">
                            <i class="fas fa-smoking-ban <%= travel.car.smoke === true ? 'text-secondary' : '' %>"></i>
                            <!-- text-secondary to show as disable -->
                            <i class="fas fa-paw <%= travel.car.animals === false ? 'text-secondary' : '' %>"></i>

                            <% switch(travel.car.luggageSize) {
                            case 1: %>
                            <i class="fas fa-briefcase"></i>
                            <!--petit-->
                            <% break;

                                case 2: %>
                            <i class="fas fa-suitcase"></i>
                            <!--moyen-->
                            <% break;

                                case 3: %>
                            <i class="fas fa-suitcase-rolling"></i>
                            <!--grand-->
                            <% break;
                            } %>
                            <i class="fas fa-bicycle <%= travel.car.bike === false ? 'text-secondary' : '' %>"></i>
                            <i class="fas fa-fan <%= travel.car.clim === false ? 'text-secondary' : '' %>"></i>
                        </div>
                        <div class="col-lg-1 col-md-4 col-sm-6">
                            <p class="card-text"><%= travel.pricePerPassenger %>€
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <p class="card-text"><%= placesLeft %> places restantes</p>
                        </div>
                    </div>
                </div>
            </a>
            <% }); %>
            <% } %>
        </div>


    </div>


</div>

<script
    src="https://phppot.com/demo/bootstrap-autocomplete-with-dynamic-data-load-using-php-ajax/typeahead.js"></script>

<script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>

<script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.fr.min.js"
    charset="UTF-8"></script>
<script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.fr-CH.min.js"
    charset="UTF-8"></script>

<script>

    $('.input-group.date').datepicker({
        language: "fr",
        autoclose: true
    });


</script>

<script>
    function cityQuery(query, result) {
        $.ajax({
            url: "/search/city?q=" + encodeURI(query),
            type: "GET",
            success: function (data) {
                result($.map(data.data, function (item) {
                    return item.nameWithPostalCode;
                }));
            }
        });
    }

    var selectedDeparture = false;
    var selectedArrival = false;

    function searchTravel() {
        window.location.href = "/search/" + encodeURI($('#departure').val()) + '/' + encodeURI($('#arrival').val()) + '/' + encodeURI($('.input-group.date input').val());
    }

    function updateSubmit() {
        if (selectedDeparture && selectedArrival)
            $('#submit-search').removeClass('disabled');
    }

    $(document).ready(function () {
        $('#departure').typeahead({
            source: cityQuery,
            items: 15,
            afterSelect: function (item) {
                // do what is needed with item
                //and then, for example ,focus on some other control
                selectedDeparture = true;
                updateSubmit();
            },
            matcher: function () { return true; },
        });

        $('#arrival').typeahead({
            source: cityQuery,
            items: 15,
            afterSelect: function (item) {
                // do what is needed with item
                //and then, for example ,focus on some other control
                selectedArrival = true;
                updateSubmit();
            },
            matcher: function () { return true; }
        });
    });
</script>

<% include templates/footer.ejs %>