<% include templates/header.ejs %>
<% include templates/nav-common.ejs %>

<div class="container-fluid mx-auto text-center bg-secondary pt-5"
    style="background-image:url(/img/image.jpg);background-repeat: no-repeat;background-size: cover;min-height:900px;">

    <div>
        <h2>Mes trajets</h2>
    </div>


    <div class="row justify-content-center">

        <% include templates/profile-nav.ejs %>

        <div class="bg-light border rounded col-lg-6 col-md-8 col-sm-12 p-3 m-2">
            <% travels.forEach(function(travel) { %>
                <a class="text-decoration-none" href="/travel/<%= travel._id %>">
                    <div class="card w-100 mb-3">
                        <div class="card-body row border-between">
                            <div class="col-lg-4 col-sm-12">
                                <p class="card-text h-100 btn-sm"><%= travel.departureTime.toTimeString().replace(/.*(\d{2}:\d{2}:\d{2}).*/, "$1").substring(0,5) %> (<%= TravelService.frenchDateString(travel.departureTime) %>)
                                </p>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <p class="card-text h-100 btn-sm"><%= travel.departure.name%> > <%= travel.arrival.name %>
                                </p>
                            </div>
    
                            <div class="col-lg-4 col-sm-12">
                                <p class="card-text h-100 btn-sm"><%= travel.travelDone ? 'Ce trajet est terminé' : 'Ouvert aux réservations' %>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            <% }); %>
        </div>
    </div>


</div>

<% include templates/footer.ejs %>