<% include templates/header.ejs %>
<% include templates/nav-common.ejs %>



<div class="container-fluid mx-auto text-center bg-secondary pt-5" style="background-image:url(/img/image.jpg);background-repeat: no-repeat;
background-size: cover;min-height:900px;">
    <div class="row justify-content-md-center">
        <div class="bg-light border rounded col-lg-6 col-md-9 col-sm-12 p-3 m-2">
            <h1 class="display-4 mb-3"><%= travel.departure.name %> <i class="fas fa-chevron-right"></i>
                <%= travel.arrival.name %></h1>
            <div class="row  justify-content-center">
                <div class="col-10 ">
                    <p class="text-center">Départ le <strong><%= frenchDate %> à <%= departureTime %></strong></p>
                    <p class="text-center">Vous voyagez avec <%= travel.host.firstName %>
                        <%= travel.host.lastName.substring(0,1) %>.</p>
                    <p class="text-center"><i class="fa fa-car" aria-hidden="true"></i> <%= travel.car.model %></p>
                    <p class="text-center">
                        <i class="fas fa-smoking-ban <%= travel.car.smoke === true ? 'text-secondary' : '' %>"></i>
                        <!-- text-secondary to show as disable -->
                        <i class="fas fa-paw <%= travel.car.animals === false ? 'text-secondary' : '' %>"></i>

                        <% switch(travel.car.luggageSize) {
                        case 1: %>
                        <i class="fas fa-briefcase"></i>
                        <!--petit-->
                        <% break;

                            case 2: %>
                        <i class="fas fa-suitcase"></i>
                        <!--moyen-->
                        <% break;

                            case 3: %>
                        <i class="fas fa-suitcase-rolling"></i>
                        <!--grand-->
                        <% break;
                        } %>
                        <i class="fas fa-bicycle <%= travel.car.bike === false ? 'text-secondary' : '' %>"></i>
                        <i class="fas fa-fan <%= travel.car.clim === false ? 'text-secondary' : '' %>"></i>
                    </p>

                    <p class="text-center">Départ de : <i><%= travel.addressDeparture %></i>,
                        <%= travel.departure.nameWithPostalCode %></p>
                    <p class="text-center">Arrivée à : <i><%= travel.addressArrival %></i>,
                        <%= travel.arrival.nameWithPostalCode %></p>

                    <p class="text-center">Places disponible: <%= placesLeft %></p>

                    <p class="text-center">Tarif: <%= travel.pricePerPassenger %>€/Passager</p>


                    <% if(travel.indications !== '') { %>
                    <p class="text-center">
                    <blockquote class="blockquote">
                        <p class="mb-0"><%= travel.indications %></p>
                        <footer class="blockquote-footer">Indiqué par <cite
                                title="Source Title"><%= travel.host.firstName %></cite></footer>
                    </blockquote>
                    </p>
                    <% } %>

                    <% if (auth) { 
                         if(owner) { %>
                    <h4>Vos passagers</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Prénom</th>
                                <th scope="col">Nombre de places</th>
                                <th scope="col">Courriel</th>
                                <th scope="col">N° de téléphone</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i = 0; i < travel.passengers.length; i++) { %>
                            <tr>
                                <th scope="row"><%= i+1 %></th>
                                <td><%= travel.passengers[i].user.firstName %>
                                    <%= travel.passengers[i].user.lastName.substring(0,1) %>.</td>
                                <td><%= travel.passengers[i].places %></td>
                                <td><%= travel.travelDone ? '---masqué---' : travel.passengers[i].user.mail %></td>
                                <td><%= travel.travelDone ? '---masqué---' : travel.passengers[i].user.phoneNumber %></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <% if(!travel.travelDone) { %>
                    <form action="" method="post">
                        <input type="hidden" name="action" value="travel-done" />
                        <button type="submit" class="btn btn-success">Marquer ce voyage comme terminé</button>
                    </form>
                    <br />
                    <form action="" method="post">
                        <input type="hidden" name="action" value="delete" />
                        <button type="submit" class="btn btn-danger">Annuler ce voyage</button>
                    </form>
                    <% } %>
                    <% } else if (reserved > 0) { %>
                    <div class="alert alert-success" role="alert">
                        <strong>Vous participez à ce voyage.</strong>
                        <p>
                            Coût de la réservation <%= reserved * travel.pricePerPassenger %>€<br />
                            Places réservées: <%= reserved %>
                        </p>
                        <% if(!travel.travelDone) { %>
                        Courriel du conducteur: <%= travel.host.mail %><br />
                        N° de téléphone du conducteur: <%= travel.host.phoneNumber %>
                        <% } else { %>
                        Ce trajet est terminé, vous n'avez plus accès aux coordonnées du conducteur.<br />
                        Merci de voyager avec TravelExpress
                        <% } %>
                    </div>
                    <% if(!travel.travelDone) { %>
                    <form action="" method="post">
                        <input type="hidden" name="action" value="remove-passenger" />
                        <button type="submit" class="btn btn-danger">Annuler ma réservation</button>
                    </form>
                    <% } %>
                    <% } else { %>
                    <% if (placesLeft === 0) { %>
                    <div class="alert alert-danger" role="alert">
                        Il n'y a plus de place disponible pour ce voyage
                    </div>
                    <% } else { %>
                    <form action="" method="post">
                        <input type="hidden" name="action" value="add-passenger" />
                        <div class="input-group mb-3">

                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Nombre de places à
                                    reserver</span>
                            </div>
                            <input type="number" min="1" max="<%= placesLeft %>" name="places" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Choisir</button>
                    </form>
                    <% } %>
                    <% } %>

                    <% } else { %>
                    <div class="alert alert-warning" role="alert">
                        <a href="/user/login">Connectez-vous</a> ou <a href="/user/signup">inscrivez-vous</a> pour
                        participer à ce voyage
                    </div>
                    <% } %>
                </div>
            </div>


        </div>
    </div>


</div>




<% include templates/footer.ejs %>