<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">TravelExpress</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
            <a class="nav-link" href="/travel/add">Proposer un trajet</a>
        </li>
        </ul>
    </div>
    <div class=" d-lg-inline-block">
        <button onclick="window.location.href='/profile'" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Mon profil</button>
        <button onclick="window.location.href='/user/logout'" class="btn btn-outline-success my-2 my-sm-0" type="submit">Déconnexion</button>
    </div>
</nav>